# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nvt_website
DB_USER=root
DB_PASSWORD=

# NextAuth
NEXTAUTH_SECRET=change-this-to-a-random-secret-in-production
NEXTAUTH_URL=https://gdnn-gdtxnguyenvantohoankiem.com
AUTH_TRUST_HOST=true
AUTH_URL=https://gdnn-gdtxnguyenvantohoankiem.com

# App
NEXT_PUBLIC_SITE_NAME=Trung tâm GDNN-GDTX Nguyễn Văn Tố - Hoàn Kiếm
NEXT_PUBLIC_SITE_SHORT_NAME=NVT
